.container{
   position: fixed;
   width: 100%;
   border-bottom: 2px solid rgba(255, 255, 255, 0.1);
   z-index: 800;
}

.wrapper-header{
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
   
   background: black;
   
   width: 100%;
   height: 3.3rem;
   max-width: 1366px;
   padding: 0 2rem;
}

.header-logo{
   position: absolute;
   left: 2rem;
   font-size: 1.3rem;
   padding: 0 2rem;
   font-weight: normal;
}

.container nav{
   height: 100%;
}

.menu-main{
   display: flex;
   gap: 2rem;
   height: 100%;
}

.menu-main li{
   display: flex;
   align-items: center;

   font-weight: normal;
   font-size: .95rem;

   gap: 1rem;
   padding: 0 1rem;
   opacity: .75;
   height: 100%;

   cursor: pointer;
}

.menu-main li:hover{
   opacity: 1;
}

.menu-main svg{
   stroke: white;
   fill: white;
   width: 1.5rem;
   stroke-width: 0;
}

.login-controllers{
   display: flex;
   justify-content: center;
   position: absolute;
   height: 100%;
   right: 1rem;
   width: 14rem;

}

.login-button{
   display: flex;
   align-items: center;
   border: none;
   gap: 1rem;
   height: 100%;
}

/* .signup-button{
   padding: .3rem .6rem;
   margin: .2rem 0;
   border-radius: 10px;
   border-radius: 4px;
   border: 2px solid rgba(255, 255, 255, 0.3);
   height: 70%;
} */

.header-controllers{
   display: flex;
   align-items: center;
   gap: 1rem;

   height: 100%;
   z-index: 900;
}

.header-controllers button{
   background: none;
   
   opacity: 0.8;
   transition: opacity 0.5s ease;
   cursor: pointer;
}

.header-controllers button:hover{
   opacity: 1;
}

.profile-container{
   height: 100%;
   background: black;
   transition: border-color .3s ease;
}

.profile-container:hover .profile-button{
   border-color: white;
}

.profile-button{
   display: flex;
   background: black;
   align-items: center;
   height: 100%;
   gap: 1rem;
   padding: 0 .5rem;
   transition: all .5s ease;

   opacity: 0.75;
   cursor: pointer;

}

.profile-container:hover .profile-button{
   opacity: 1;
} 

.profile-container:hover .profile-cover img{
   outline: 2px solid white;
} 

.profile-cover{
   position: relative;
   width: 1.8rem;
   height: 1.8rem;
}

.profile-cover img{
   border-radius: 25px;
}

.options-divisor{
   height: 0.6rem;
}

.profile-options{
   display: none;
   position: absolute;
   right: 0;
   background: rgba(10, 10, 10);
   top: 120%;
   padding: 0 4rem;
   width: 14rem;
   flex-direction: column;
   text-align: center;
   border-radius: 5px;
   border: 2px solid rgba(255, 255, 255, 0.1);
   padding: .5rem 0;

   z-index: 900;
}

@keyframes ActiveMenuOptions {
   from{
      opacity: 0;
   }to{
      opacity: 1;
   }
}

.options-active{
   display: flex;
   animation: ActiveMenuOptions .3s ease;
}

.profile-options li{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   padding: 0.6rem 1rem;
   cursor: pointer;
}

.profile-options li:hover{
   background-color: rgb(255, 255, 255, .05);
}

.profile-loading{
   position: relative;
   height: 100%;
   padding: 1rem;
   width: 11rem;
}

.loading{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
   background:  rgba(255, 255, 255, 0.1);
   border-radius: 5px;
   overflow: hidden;
}

.loading:after{
   content: "";
   position: absolute;
   background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.1), transparent);
   top: 0;
   left: 0;
   height: 100%;
   width: 8rem;

   animation: skeletonProfile 1s ease infinite;
}

@keyframes skeletonProfile {
   0% {
      left: -100%;
   } 100% {
      left: 100%;
   }
}