.container{
   position: fixed;
   width: 100%;
   border-bottom: 2px solid rgba(255, 255, 255, 0.1);
   z-index: 800;
}

.wrapper-header{
   display: flex;
   position: relative;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   
   height: 3.3rem;
   background: black;
   max-width: 1366px;
   padding: 0 2rem;
   z-index: 999;
}

.header-logo, .login {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20%;
   height: 100%;
}

.header-logo{
   font-size: 1.5rem;
   font-weight: bold;
}

.container nav{
   height: 100%;
   margin-bottom: -1px;
}

.menu-main{
   display: flex;
   gap: 2rem;
   height: 100%;
}

.menu-main li{
   display: flex;
   align-items: center;

   gap: 1rem;
   padding: 0 1rem;
   opacity: .8;
   height: 100%;

   cursor: pointer;
   transition: border-bottom-color 0.8s ease;
}

.menu-main li:hover{
   opacity: 1;
}

.menu-main svg{
   stroke: white;
   fill: white;
   width: 1.5rem;
   stroke-width: 0;
}

.header-controllers{
   display: flex;
   align-items: center;
   height: 100%;
   gap: 2rem;
}

.header-controllers a{
   opacity: 0.8;
   transition: opacity 0.5s ease;
}

.header-controllers a:hover{
   opacity: 1;
}

.login-controllers{
   height: 100%;
}

.login-button{
   display: flex;
   align-items: center;
   gap: 1rem;
   height: 100%;
}

.signup-button{
   padding: .3rem .6rem;
   margin: .2rem 0;
   border-radius: 10px;
   border-radius: 4px;
   border: 2px solid rgba(255, 255, 255, 0.3);
   height: 70%;
}

.profile-container{
   height: 100%;
   background: black;
   transition: border-color .3s ease;
   z-index: 999;
}

.profile-container:hover .profile-button{
   border-color: white;
}

.profile-button{
   display: flex;
   background: black;
   align-items: center;
   height: 100%;
   gap: 1rem;
   padding: 0 .5rem;
   transition: all .5s ease;

   opacity: 0.75;
   cursor: pointer;

}

.profile-container:hover .profile-button{
   opacity: 1;
} 

.profile-container:hover .profile-cover img{
   outline: 2px solid white;
} 

.profile-cover{
   position: relative;
   width: 2rem;
   height: 2rem;
}

.profile-cover img{
   border-radius: 25px;
}

.options-divisor{
   height: 0.6rem;
}

.profile-options{
   display: none;
   position: absolute;
   right: 1rem;
   background: rgba(255, 255, 255, 0.05);
   top: 120%;
   padding: 0 4rem;
   width: 14rem;
   flex-direction: column;
   text-align: center;
   border-radius: 5px;
   border: 2px solid rgba(255, 255, 255, 0.7);
   padding: .5rem 0;
}

@keyframes ActiveMenuOptions {
   from{
      opacity: 0;
   }to{
      opacity: 1;
   }
}

.options-active{
   display: flex;
   animation: ActiveMenuOptions .6s ease;
}

.profile-options li{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   padding: 0.8rem 1rem;
   cursor: pointer;
}

.profile-options li:hover{
   background: rgb(255, 255, 255, .05);
}